@import "~bootstrap/dist/css/bootstrap.css";

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.top_spac {
  margin: 20px 0 0;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}







